/**
 * Created by ithaki ajans
  * Date: 3.04.2019
 * Time: 13:30
 */
/**
 * Created by ithaki ajans
  * Date: 1.04.2019
 * Time: 14:36
 */
:root {

}


/**/
.KlasikYuvarlak {
    position: relative;
text-align: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.category-moduleKlasikYuvarlak {
    width: 100%;
    margin: 0;
    padding: 20px 0 20px 0;
    vertical-align: top;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.KlasikYuvarlak li {
    padding: 15px;
    margin: 0 !important;
    display: grid;
    list-style-type: none;
    position: relative;
    overflow: hidden;
    grid-template-rows: 110px 50px auto;

}
.KlasikYuvarlak li.onecikan1 {

    border: var(--renk04) 1px solid;
}
.KlasikYuvarlak li.onecikan0 {

    border: transparent 1px solid;
}
.KlasikYuvarlak .onecikan1:before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    height: 50px;
    width: 50px;
    top: -25px;
    right: -25px;
    z-index: 9;
    display: block;
    background-color: var(--renk04);
}
.KlasikYuvarlak .onecikan1:after {
    content: "\f005";
    font-family: "Font Awesome 5 Free", serif;
    position: absolute;
    font-size: 12px;
    height: 12px;
    width: 12px;
    top: -2px;
    right: 4px;
    color: #ffffff;
    z-index: 9;
    display: block;

}



.KlasikYuvarlak h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-weight: 800;
    font-size: 2vh;
    padding: 0;
    padding-top: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin-right: -100%;
}


.KlasikYuvarlak h4 a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
    font-weight: 600;
}
.KlasikYuvarlak .KlasikYuvarlak-introtext {
    font-size: 12px;
    margin: 0;
    line-height: 19px;
}
.KlasikYuvarlak-fields {
    padding-bottom: 10px;
    font-size: 12px;
}
.KlasikYuvarlak .KlasikYuvarlak-image {
    position: relative;
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    /*border: 2px solid var(--renk01);*/
    border-radius: 50%;
    overflow: hidden;
}
.KlasikYuvarlak li:nth-child(1) .KlasikYuvarlak-image {
    border: 2px solid var(--renk01);
}
.KlasikYuvarlak li:nth-child(2) .KlasikYuvarlak-image {
    border: 2px solid var(--renk02);
}
.KlasikYuvarlak li:nth-child(3) .KlasikYuvarlak-image {
    border: 2px solid var(--renk03);
}
.KlasikYuvarlak li:nth-child(4) .KlasikYuvarlak-image {
    border: 2px solid var(--renk04);
}
.KlasikYuvarlak .KlasikYuvarlak-image.bos {
    box-shadow: inset 0 0 0 10px rgba(255,255,255,1);
    background-color: var(--renk01);
}
.KlasikYuvarlak .resimbos {

}
.KlasikYuvarlak-image img {
    object-fit: cover;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    max-width: none;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 50%;
}




.KlasikYuvarlak .haricilink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 800px) {

    .category-moduleKlasikYuvarlak {

        grid-template-columns: 1fr;
    }

    .KlasikYuvarlak .KlasikYuvarlak-image .resimbos {
        min-width: 90vw;
    }

    .KlasikYuvarlak .KlasikYuvarlak-introtext {
        display: none;
    }

}







