/*-----------------IE11-----------------------*/
@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
    #loading {
        display: none;}
}

/*-------------PRELOADER--------------------*/
#loading {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 0px;
    top: 0px;
    display: var(--preload);
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    -webkit-animation: loading-center-absolute 1s infinite;
    animation: loading-center-absolute 1s infinite;
}

@-webkit-keyframes loading-center-absolute {
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.object {
    width: 20px;
    height: 20px;
    background-color: #cf4a30;
    float: left;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px;

}

.object:nth-child(2n+0) {
    margin-right: 0px;
}

#object_one {
    -webkit-animation: object_one 1s infinite;
    animation: object_one 1s infinite;
}

#object_two {
    -webkit-animation: object_two 1s infinite;
    animation: object_two 1s infinite;
}

#object_three {
    -webkit-animation: object_three 1s infinite;
    animation: object_three 1s infinite;
}

#object_four {
    -webkit-animation: object_four 1s infinite;
    animation: object_four 1s infinite;
}

@-webkit-keyframes object_one {
    50% {
        -ms-transform: translate(20px, 20px);
        -webkit-transform: translate(20px, 20px);
        transform: translate(20px, 20px);
    }
}

@-webkit-keyframes object_two {
    50% {
        -ms-transform: translate(-20px, 20px);
        -webkit-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px);
    }
}

@-webkit-keyframes object_three {
    50% {
        -ms-transform: translate(20px, -20px);
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
    }
}

@-webkit-keyframes object_four {
    50% {
        -ms-transform: translate(-20px, -20px);
        -webkit-transform: translate(-20px, -20px);
        transform: translate(-20px, -20px);
    }
}

/*---------------------------------------------*/

@media screen and (min-width: 1800px) {
    #logo {
        margin: 0;
        z-index: -99;
    }

}

@media screen and (max-width: 1100px) {
    .text01 {
        letter-spacing: 0;
        font-size: 12px;
        line-height: normal;
    }
    .slogan01 {
        font-size: 20px;
    }
    .isaretci {
        display: none !important;
    }
    .ustblog, .ustalan {
        height: 50vh;
    }

.blogic {
    grid-template-columns: 1fr;
}

    .item-page .item-image {
        background-attachment: scroll;

    }
    .ekipa, .ekipb {
        grid-template-columns: 1fr;
    }
    #myVideo {
        display: none;
    }
    .videomobil {
        display: block;
    }
    .item-page .ustalan .page-header h1, .ustblog h1 {
        left: 0;
        width: 100%;
        text-align: center;
    }
    .item-page .ustalan .page-header h2, .ustblog h2 {
        left: 0;
        width: 100%;
        text-align: center;
    }

    .logos {
        display: none;
    }
    #sosyal li {

        display: inline-block;
    }
    #sosyal {
        background-color: #000000;
        position: static;
        text-align: center;
    }
    #section0 {
        padding-left: 15px;
        padding-right: 15px;
    }
    #section0, #section1, #section2, #section3, #section4 {
        display: grid;
        align-content: center;
        position: relative;
        min-height: auto;
    }
    #solikonmenu {
        display: none;
    }
    .foot {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

    .foot > div {
        margin-bottom: 20px;
    }

    #fullpage {

        height: auto;
        overflow-y: hidden;

    }

    .sekil {
        background-size: 50% auto;
    }

    .dealer-table {
        font-size: 10px;
    }

    .breadcrumb {
        text-align: center;
    }

    .item-page .page-header > h2:before {
        display: none;}

    ul.pagenav {
        text-align: center;
    }

    .previous {
        float: left;
    }

    .next {
        float: right;
    }

    .sag {
        margin: 2%;
        width: 95%;
        min-height: auto;
    }

    .item-image {
        z-index: -1;
        margin-right: auto;
        /* margin-left: auto; */

        overflow: hidden;
        width: 100%;
        top: 0;
        position: static;
        height: auto;
    }

    .item-image img {
        object-fit: cover;
        position: static;
        top: 50%;
        width: 100%;
        height: 100%;
        max-width: none;
        left: 50%;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .breadcrumb li {
        font-size: 12px;
    }

    #loader {
        display: none;}

    #dil {
        height: 30px;
        transition-duration: 0.5s;
        float: none;
        padding-right: 10px;
        display: block;
        margin-top: 0;
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: top;
        background-color: transparent;
    }

    #head {
        margin: 0;
        margin-bottom: 15px;
        background-color: transparent;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #header {
        height: auto;}

    #yukari {
        right: 16px;}

    h1 {margin: 0;
        padding: 0;}

    .sosyal li a {
    }

    #content {
        padding-top: 0;
    }

    .wrap {
        margin-top: 0;
    }

    .page-header {

    }

    #content {
        margin-left: auto;
    }

    #headdiv {
        position: relative;
        background-color: #000000;
        height: auto;
        margin-top: 0;
        padding-top: 0;
    }

    .contentwrap {
        margin: 0;
    }

    #logo {
        padding: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        height: auto;
        margin: 0;
        width: 100%;
        float: none;
    }

    #logo img {
        margin-right: auto;
        margin-left: auto;
    }

    #arama {
        display: none;}

    /*.menu li {
        display: inline-block;
        font-size: 12px;
        list-style-type: none;
        margin-right: 5px;
        margin-left: 5px;
        padding-left: 0px;
        font-weight: 300;
        padding:5px;
    }

    ul.menu {
        line-height:16px;
    }*/
    #footer {
        position: static;
        margin-top: 0px;}

    .sosyal li {
        height: 16px;
        width: 16px;
        margin-right: 0;
        margin-left: 0;
        font-size: 16px;
        line-height: 16px;
    }

    #content {
        margin: 0;
    }

    [itemprop="articleBody"] {
        padding-left: 15px;
        padding-right: 15px;
    }

    h2 {
        margin-top: 0px;
    }

}

@media screen and (max-width: 768px) {
    .blog .cols-1 {
        margin: 0;
        width: 100%;
    }

    .pull-left {
        max-width: none;
    }
}

@media (max-width: 640px) {

}

@-webkit-keyframes fadeInDown {
    0% {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
    to {opacity: 1;-webkit-transform: none;transform: none}
}

@keyframes fadeInDown {
    0% {opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
    to {opacity: 1;-webkit-transform: none;transform: none}
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 2s !important;
    -moz-animation-duration: 2s !important;
    -o-animation-duration: 2s !important;
    animation-duration: 2s !important;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    0% {opacity: 0}
    to {opacity: 1}
}

.fadeIn {-webkit-animation-name: fadeIn;animation-name: fadeIn;
    -webkit-animation-duration: 2s !important;
    -moz-animation-duration: 2s !important;
    -o-animation-duration: 2s !important;
    animation-duration: 2s !important;}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 3s !important;
    -moz-animation-duration: 3s !important;
    -o-animation-duration: 3s !important;
    animation-duration: 3s !important;
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.2;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-duration: 2s !important;}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    animation-duration: 2s !important;}

@-webkit-keyframes fadeOutDown {

    from {

        opacity: 1;

    }

    to {

        opacity: 0;

        -webkit-transform: translate3d(0, 10%, 0);

        transform: translate3d(0, 10%, 0);

    }

}

@keyframes fadeOutDown {

    from {

        opacity: 1;

    }

    to {

        opacity: 0;

        -webkit-transform: translate3d(0, 10%, 0);

        transform: translate3d(0, 10%, 0);

    }

}

.fadeOutDown {

    -webkit-animation-name: fadeOutDown;

    animation-name: fadeOutDown;

    animation-duration: 2s !important;}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInRight {

    0% {

        opacity: 0;

    }

    50% {opacity: 0;

        -webkit-transform: translate3d(100%, 0, 0);

        transform: translate3d(100%, 0, 0);

    }

    to {

        opacity: 1;

        -webkit-transform: none;

        transform: none;

    }

}

@keyframes fadeInRight {

    0% {

        opacity: 0;

    }

    50% {opacity: 0;

        -webkit-transform: translate3d(100%, 0, 0);

        transform: translate3d(100%, 0, 0);

    }

    to {

        opacity: 1;

        -webkit-transform: none;

        transform: none;

    }

}

.fadeInRight {

    -webkit-animation-name: fadeInRight;

    animation-name: fadeInRight;

    animation-duration: 2s !important;

}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
    }
    50% {opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
    }
    50% {opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 2s !important;
}

@-webkit-keyframes fadeOutRight {

    from {

        opacity: 1;

    }

    to {

        opacity: 0;

        -webkit-transform: translate3d(100%, 0, 0);

        transform: translate3d(100%, 0, 0);

    }

}

@keyframes fadeOutRight {

    from {

        opacity: 1;

    }

    to {

        opacity: 0;

        -webkit-transform: translate3d(100%, 0, 0);

        transform: translate3d(100%, 0, 0);

    }

}

.fadeOutRight {

    -webkit-animation-name: fadeOutRight;

    animation-name: fadeOutRight;

    animation-duration: 2s !important;

}

@-webkit-keyframes rotation {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(15deg);}
    to {transform: rotate(0deg);}
}

@keyframes rotation {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(15deg);}
    to {transform: rotate(0deg);}
}

.enaltimg {
    animation: rotation 2s infinite ease;
}

@-webkit-keyframes sicra {
    0% {transform: rotate(0deg);}
    48% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    52% {transform: rotate(0deg);}
    54% {transform: rotate(-5deg);}
    56% {transform: rotate(0deg);}
    58% {transform: rotate(5deg);}
    60% {transform: rotate(0deg);}
    to {transform: rotate(0deg);}
}

@keyframes sicra {
    0% {transform: rotate(0deg);}
    48% {transform: rotate(0deg);}
    50% {transform: rotate(5deg);}
    52% {transform: rotate(0deg);}
    54% {transform: rotate(-5deg);}
    56% {transform: rotate(0deg);}
    58% {transform: rotate(5deg);}
    60% {transform: rotate(0deg);}
    to {transform: rotate(0deg);}
}

.whats a {
    animation: sicra 6s infinite ease;
}

@-webkit-keyframes preloadimg {
    0% {transform: scale(1);
    }
    50% {opacity: 1;}
    to {transform: scale(2);
        opacity: 0;
    }
}

@keyframes preloadimg {
    0% {transform: scale(1);
    }
    50% {opacity: 1;}
    to {transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes gizle {
    0% { }
    99% {max-height: 100vh;}
    to { max-height: 0;
    }
}

@keyframes gizle {
    0% { }
    99% {max-height: 100vh;}
    to { max-height: 0;
    }
}

@-webkit-keyframes zindex {
    0% { }
    99% { z-index: 9;}
    to { z-index: -9;
    }
}

@keyframes zindex {
    0% { }
    99% { z-index: 9;}
    to { z-index: -9;
    }
}

@-webkit-keyframes inter {
    0% {opacity: 1; transform: scale(1, 1);}
    15% {opacity: 0.3; transform: scale(1.1, 1.1);}
    to {opacity: 1; transform: scale(1, 1);}
}

@keyframes inter {
    0% {opacity: 1; transform: scale(1, 1);}
    15% {opacity: 0.3; transform: scale(1.1, 1.1); }
    to {opacity: 1; transform: scale(1, 1);}
}
.inter {-webkit-animation-name: inter;animation-name: inter;
    -webkit-animation-duration: 2s !important;
    -moz-animation-duration: 2s !important;
    -o-animation-duration: 2s !important;
    animation-duration: 2s !important;}