.nav {}
#ith {}


#menu {
	height:100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
	margin-right:30px;
}


#menu {
	z-index:99999;
	position:relative;
	font-weight: 600;
	font-style:normal;
}
#menu ul {
	}
#menu ul ul {
	display:none;
	padding:0;
		-webkit-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.54);
-moz-box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.54);
box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.54);}
#menu ul ul ul {
	font-size: 12px;
    left: 100%;
	top:0;
	/*border-left-width: 2px;
	border-left-style: solid;
	border-left-color: #FFF;*/
}
#menu li {
	z-index:999;
	position:relative;
	display: inline-block;
	overflow:hidden;
	margin: 3px;
	vertical-align:top;
}
#menu li:hover {
	overflow: visible;
}
#menu li:hover ul {
	display:block;
}
#menu li:before {
content: "";
    display: block;
    position: absolute;
    width: 0%;
    bottom: 0;
	right:0;
	left:0;
	margin-left:auto;
	margin-right:auto;
    height: 1px;
    background-color: #fff;
	transition-duration:0.5s;}
#menu li:hover:before {
    width: 100%;
}
#menu li li:before {
	content:normal;}
#menu li a, #menu li span {
    line-height: normal;
	text-decoration: none;
	display:block;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	cursor:pointer;
	font-size:16px;
	transition-duration:0.5s;
	text-transform: uppercase;
color: #fff;
text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7);
}
#menu li a:before, #menu li span:before {
	text-shadow:none;}
.unstyled {animation: fadeInUp 0.3s ease-in ;}
#menu li a:hover, #menu li span:hover {

}
#menu li.item-701 a {
	color: #F90;
}
#menu li li a, #menu li li span, #menu li.active li a, #menu li.active li span {
text-shadow: none;
	color: var(--gri);
font-size:13px;
}
#menu li li a:hover, #menu li li span:hover {
	color:#999;
}
/* bootstrap çakışması */
.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

#menu li li, #menu li li li {
	text-align:left;
	/*background-color: rgba(41, 41, 41, 0.8);*/
	background-color:#F8F8F8;

	margin:0;
	font-size: 12px;
}
#menu li li:hover {
	
}
#menu li li.active {
}
#menu li li.active a {
}
#menu li li a {
	font-weight:400;
/*	transition-duration:0s;*/
	background-color: #fff;
}
#menu li li:hover li a {
	background-color: #ffffff;
}
#menu li li:hover a, #menu li li li:hover a {
	color: var(--gri);
		background-color: #d2d2d2;
}
#menu li li.parent:after {
	content: "\f0d9";
	color:#F00;
	font-family: "Font Awesome 5 Free", serif;
	/* float: right; */
    position: absolute;
	top: 27%;
	right: 0;
}
#menu li li li {
	text-align:left;
	background-color: rgba(80, 80, 80, 0.9);}

#menu li li li:hover {
	background-color: #000;
}
#menu ul ul ul li:first-child{
	margin-top:0;
}
#menu ul ul ul:before{
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    color: #F00;
    display: block;
    position: absolute;
    z-index: 9999;
    left:0;
    top: 9px;
}
#menu li.active a, #menu li.active span {
	font-weight:600;
	color:white;
}
#menu li.active li a, #menu li.active li span {
	font-weight: 400;
}
#menu li.active li.active a, #menu li.active li.active span {
	font-weight: 600;
}
#menu li.active a:after {
/*   content: "\f107";
    font-family: "Font Awesome 5 Free";
	font-weight:900;
    color: #ccc;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
     position: absolute;
    line-height: 14px;*/
}
#menu li.active ul li a:after{
	content: "";
}
#menu li ul {
	position:absolute;
	z-index: 999;
	top: 95%;
}
#menu li ul li {
		padding-top:0;
margin-left: 0;
    margin-right: 0;
    display: block;
    white-space: nowrap;}
#menu h3 {
	display:none;}
.mac {
	display:none;}
.mkapat {
	display:none;}
.menufoot {
	color:#ccc;
	margin-bottom:20px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #909090;
	padding-bottom: 20px;
	}
.menufoot li a, .menufoot li span {
	color:#fff;
	font-size:13px;
}
.menufoot li li a, .menufoot li li span {
	color:#ccc;
	border-bottom-width: 0px;
		font-size:12px;}
.menufoot li li li a, .menufoot li li li span {
	color:#999;
	border-bottom-width: 0px;
		font-size:10px;

}
.menufoot li {
	vertical-align:top;
	margin-left:15px;
	margin-right:15px;
	display:inline-block;
	font-size: 14px;
	line-height: normal;
	text-decoration: none;
	list-style-type: none;
	
}
.menufoot li li {
	display:block;}
.menufoot li li li {
	display:block;
			line-height:12px;}
@media screen and (max-width: 960px){
#menu li li a, #menu li li span, #menu li.active li a, #menu li.active li span {
	color: #fff;
font-size:14px;
background-color:transparent;
}
#menu li a, #menu li span {
	padding:0;
	color:#fff;
	font-size: 13px;
    line-height: 13px;
}
#menu li.active a, #menu li.active span {
	padding:0;
	color:#fff;
}
#menu {
display:block;
    position: static;
    right: 20px;

    /* vertical-align: top; */
    /* position: static; */
    height: 40px;
	line-height: 40px;
    padding: 0;
    
    width: 100%;
	text-align:center;
    float: none;
    margin: 0;
    overflow: hidden;

}
#menu:target {
	height:auto;
	color: #FFF;
/*	background-color: #333;*/
}
#menu:target > div.mac {
	z-index:-100;
}
#menu .mkapat {
	display:none;}
#menu:target .mkapat {
    display: block;}
#menu .mac {
	display: block;}
#menu:target .mac {
    display: none;}
.mac {
/*	position: absolute;*/
	z-index: 2;
	font-size: 24px;
	top: 11px;
	left: 11px;
	color: #333;
}
.mac a {
	color:#fff;}
.mkapat {
/*	position: absolute;*/
	z-index: 2;
	font-size: 30px;
	top: 11px;
	left: 11px;
	color: #333;
}
.mkapat a {
	color:var(--turuncu);}
#menu ul {
	width:100%;

}
#menu li {
text-align: left;
    /* display: none; */
    display: block;
    padding: 14px;
    background-color: rgba(0, 0, 0, 1);
    margin: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #FFF;
}
#menu li:hover {
	background-color:#000;
}
#menu li ul li {
background-color: transparent;
    border: 0px solid #FFF;
    text-indent: 10px;
    margin: 10px;
	padding-bottom:10px;
	padding-top:10px;
}
#menu li li li {
	background-color: rgba(0, 0, 0, 1);
	display:inline-block;
	border: 0px solid #FFF;
}
#menu li li li:hover {
	display:inline-block;
	border: 0px solid #FFF;
}
#menu ul:hover li li li {
	display:inline-block;
	border: 0px solid #FFF;
}
#menu li.current a:after {
    content: "";
}
/*
#menu:after {
content: "\f00d";
    font-family: "Font Awesome 5 Free";
    color: #999;
    font-size: 22px;
    display: block;
      z-index: 9999;
    position: absolute;
    padding: 12px;
      bottom: 0;
    right: 0;}
*/
#menu ul ul {
	width:100%;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
#menu ul ul {
padding:0;
background-color: transparent;
-webkit-box-shadow: none;
-moz-box-shadow:none;
box-shadow:none}
#menu ul ul ul {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;}
#menu ul ul ul:before{
    content: "";

}
/*
#menu > ul:before {
	content: "\f0c9";
	font-family: "Font Awesome 5 Free";
	color: #000;
	font-size: 22px;
	display: block;
	background-color: #999;
	z-index: 1;
	position: relative;
	padding: 15px;
}
*/
#menu ul:hover li {
	display:block;}
	#menu h3:target ~ ul {
	display: block;}	
	#menu li ul {
    position: static;
    display: block;
}
}
.o_app_entry.o_app_pseudo span{box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);}
.o_app_entry img{border-radius: 4px; margin: 0 auto 5px;}
.o_apps_list .o_app_entry{max-width: 88px;}
.o_app_entry img{width: 78px; height: 78px;}
@media (min-width: 576px){
	.o_apps_list .o_app_entry{max-width: 90px;}.o_apps_list .o_app_entry.o_app_pseudo span, .o_apps_list .o_app_entry img{width: 80px; height: 80px;}}
@media (min-width: 768px){.o_apps_list .o_app_entry{max-width: 90px;}.o_apps_list .o_app_entry img{width: 80px; height: 80px;}}
@media (min-width: 992px){.o_apps_list .o_app_entry{max-width: 75px;}.o_apps_list .o_app_entry img{width: 65px; height: 65px;}}
@media (min-width: 1200px){.o_apps_list .o_app_entry{max-width: 80px;}.o_apps_list .o_app_entry.o_app_pseudo span,.o_apps_list .o_app_entry img{width: 70px; height: 70px;}}.o_apps_list .o_app_entry_pseudo_container_left{position: absolute; top: 21px; left: auto; bottom: auto; right: 100%;}.o_apps_list .o_app_entry_pseudo_container_right{position: absolute; top: 21px; left: 100%; bottom: auto; right: auto;}
