
@font-face {
	font-family:OpenSans;
	src: url("../fonts/OpenSans-Regular.woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:Raleway;
	src: url("../fonts/Raleway-Bold.woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family:Raleway;
	src: url("../fonts/Raleway-Regular.woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family:Raleway;
	src: url("../fonts/Raleway-Medium.woff");
	font-weight: 500;
	font-style: normal;
}



:root {
  --headdivH: 75px;
  --yukariY:-50px;
  --flashH:500px;
  --turuncu:#F05B21;
  --koyuturuncu:#F05B21;
  --yesil:#009999;
  --gri:#5E6269;
  --anarenk:#b52b1e;
  /*--renk01: rgb(82, 5, 86);*/
	--renk01: #812512;
  --renk02:#ca431d;
  --renk03:#ff9900;
  --renk04:#520556;

  --headMT:30px;
  --headBC: rgba(0,0,0,0);
  --preload:block;
  --sosyalBT:40px;
    --MaxWidth:1100px;


	--hue: 10;
	--sat: 75;
	--light: 39;
	--hsl01:hsl(var(--hue), calc(var(--sat) * 1%), calc(var(--light) * 1%));
	--hsl02:hsl(  calc(var(--hue)), calc((var(--sat) + 0) * 1%), calc((var(--light) - 10) * 1%));
	--hsl03:hsl(  calc(var(--hue)), calc((var(--sat) - 0) * 1%), calc((var(--light) - -30) * 1%));
	--hsl04:hsl(  calc(var(--hue) - 160), calc((var(--sat)) * 1%), calc((var(--light)) * 1%));
	--hsl05:hsl(  calc(var(--hue) + 160), calc((var(--sat)) * 1%), calc((var(--light)) * 1%));
}

html {
    height: 100%;
    margin: 0;
	width:100%;

}
body {
	width:100%;
	min-height: 100%;
	margin: 0;
	font-size: 15px;
	line-height: 24px;
	color: #000;
	padding: 0;
	position:relative;
	font-weight: 400;
	font-style: normal;
    font-family: "OpenSans", serif;
}
div {
	padding:0;
	margin:0;
	display:block;}

a {
	color:#000;
	text-decoration:none;
}
a:hover {
	color: var(--renk01);
}
article,body,html,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) {
	display: none;
}
html {

}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:hover,
a:active {
	outline: 0;
}
img {
	max-width: 100%;
	width: auto \9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
ul {
	margin:0;
	padding:0;}
#main {
	overflow:hidden;}
.container {

}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4 {
	font-weight: 400;
/*	*/}
h1 {
   font-size: 28px;
	line-height: 28px;
	vertical-align: baseline;
	margin-top: 10px;
	margin-bottom: 5px;
	font-family:Raleway;
}
h2 {
margin: 0;
    font-size: 36px;
    line-height: normal;
    font-weight: 300;
    /* color: var(--koyuturuncu); */
    font-family: Raleway;
}
h2:before {
	/*content:"";
	font-family:"Font Awesome 5 Free";
	color: #CCC;
	font-size: 22px;
	font-weight: 300;*/
}
/* font */
h3 {
	font-size:20px;
	line-height:24px;
	text-transform: uppercase;
	font-family:Raleway;
	color:var(--gri);
}

h4 {
	padding-top:25px;
	font-size:16px;
	line-height:18px;
	margin:0;
	text-transform: uppercase;
		font-family:Raleway;
}
#logo {
	height: 100%;
	float: left;
	padding: 5px;
	padding-left: 30px;
	padding-right:15px;
/*	background-color:rgba(236,239,241,0.7);*/

}
#logo a {
	color:#666;
	text-decoration: none;
	height:100%;
	display:block;

	
}

#logo:hover {	}
#logo img {
	width:auto;
    max-height: 100px;
    height: 100%;
/*	max-height:90px;*/
}
.nav {
	margin:0;}

.test {

}	
#arama {
	display: inline-block;
    float: right;
    line-height: 90px;
    margin-right: 25px;}
input[type="text"] {
	height:auto;
	margin:0;
	color: #999;
}
.sosyal li {
	text-decoration: none;
	display: inline-block;
	list-style-type: none;
	height: 30px;
	/* width: 30px; */
    margin-right: 2px;
	margin-left: 2px;
	font-size: 20px;
	/* vertical-align: middle; */
    line-height: 34px;
	margin-top: 20px;
	/* -webkit-border-radius: 100%; */
    -moz-border-radius: 100%;
	/* border-radius: 100%; */
    text-align: center;
	
}
.sosyal li a {
	display:block;
	color: #fff;
	text-decoration: none;
	transition-duration:1s;
}
.sosyal li a:hover {
	color: #666;
}
.wrap {
	width:100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
#headdiv {
/*	height: var(--headdivH);*/
background-color:var(--headBC);
	padding-top: 0px;
	opacity: 1;
	position: fixed;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	max-width: 100%;
	z-index: 999;
	left: 0;
	right: 0;
	top: 0;
	transition-duration:0.5s;
}
#head {
}
#header {
height: var(--headdivH);
    transition-duration: 0.5s;
    z-index: 10;
/*	margin-top: var(--headerMT);*/
 /*   max-width: 1300px;
    margin-left: auto;
    margin-right: auto;*/
    text-align: center;
/*-webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.54);
-moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.54);
box-shadow:         2px 2px 5px 0px rgba(50, 50, 50, 0.4);*/
}
#dil {}
#sagkose, #dil {
    height: 100%;
    float: right;
    line-height: 30px;
/*    background-color: #5E6269;*/
    padding-right: 14px;
    padding-left: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.mod-languages a {
}
div.mod-languages li {
	padding-left: 20px;
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #CCC;
}
#flash {
	/*height: var(--flashH);*/
	vertical-align:top;
	overflow:hidden;
	position:relative;

}
#flash .custom, #flash .custom > div {
	height:100%;}
#flash .custom {
/*	margin:15px;*/
}
.flash {

}
.contentwrap {
}
#content {
	margin-bottom: 0px;
}

#footer {
/*position: absolute;*/
/*	font-size: 12px;
	padding-bottom: 20px;
	padding-top:10px;
	font-weight: 400;
	background-color: #e7e7e7;
	bottom: 0;
	left: 0;
	right: 0;
	color: #999;*/
}
#footer a {
	/*color:#999;
	text-decoration: none;*/
}
#footer .container {
	text-align:center;
}
.site, .ithaki{
    padding-bottom: 15px;
    display: inline-block;
}
#yukari {
font-size: 40px;
    position: fixed;
    right: 20px;
    bottom: var(--yukariY);
    transition-duration: 1s;
	transition-delay:0.5s;
    color: #ff9999;
	z-index:10;}
#yukari a {
	color:  var(--renk01);
}


.temiz {
	display: block;
	clear: both;
	float: none;
}
.inline {
	display:inline-block;
}

.control-group {
	margin-bottom:20px;}
.moduletablenews {
	background-color: #f3f3f3;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-top-color: #999;
	border-bottom-color: #999;
	padding-top: 40px;
	padding-right: 50px;
	padding-bottom: 40px;
	padding-left: 50px;
}
.moduletablenews h3 {
 text-align: center;
    font-size: 32px;
    font-weight: 400;
    /* background-color: #5f5f5f; */
    color: #c3c3c3;
    /* padding: 10px; */
    /* padding-bottom: 15px; */
    /* padding-top: 15px; */
    width: 215px;
    /* display: inline-block; */
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.gizle {
	display:none;}
.readon {
	color: #FFF;
	background-color: #ffc7a7;
	margin-top: 15px;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	display:block;
	transition-duration:0.5s;
}
.readon:hover {
	background-color: #F60;
	}
a.readon {
	text-decoration: none;
}

#alt {
}
#alt .moduletable > h3 {
   padding: 10px;
   padding-top:5px;
   padding-left:40px;
   padding-right:40px;
   display:inline-block;
    background-color: #efefef;
    margin: 0;
	margin-bottom:20px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.24);
-moz-box-shadow:    1px 1px 5px 0px rgba(0, 0, 0, 0.24);
box-shadow:         1px 1px 5px 0px rgba(0, 0, 0, 0.24);}
.item-page div {/*display:inline-block;*/vertical-align:top;}
.bilgi, .bilgi a {
	font-size:14px;
    margin-top: 60px;
    margin-bottom: 0;
	color:var(--gri);}
.bilgi img {
	width: 20px;
    display: inline-block;}
#ustmenu {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;}

.item-page img {

}

.article-info:before {
	clear: both;
	content:" ";
	display:block;
	
	}
.page-header {
	margin:0;
	padding:0;
	border-bottom-width: 0px;
}
.item-page .page-header {

}
.page-header h1, .page-heading h1, .content-category h1 {
    text-align: center;
/*    height: 150px;*/
    line-height: 24px;
    margin: 0;
    font-size: 16px;
    position: relative;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-bottom-color: #5E6472;
	display:inline-block;
	margin:20px;
	margin-right:0;
	margin-left:0;
	padding:10px;
}



.content-category {
	text-align:center;}
.cat-children > h3 {
	display:none;}
.cat-children {
	text-align: center;
	padding: 50px;
    grid-auto-rows: 250px;
    grid-gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    align-items: center;
}
.cat-children a {
    color: #ffffff;
    text-decoration: none;
    background-color: #5E6472;
    font-weight: 600;
    padding: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    right: 0;
    top: 0;
    position: absolute;
    transition-duration: 0.5s;
text-shadow: 1px 1px 3px #000000;
}
.cat-children a:hover {
	background-color: #fcc003;
}
.cat-children > div {
    position: relative;
    height: 100%;
	}
.slogan {
	display: inline-block;
	color: #FFF;
	background-color: #C00;
	padding-top: 2px;
	padding-right: 6px;
	padding-bottom: 2px;
	padding-left: 6px;
	-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);


}
.slogan:before {
	content:"\f005";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: #fff;
	padding-right:5px;
}

.item-page, .item-pageilet, .item-pagegenis, .item-pageproje {
	position:relative;
	margin-bottom:50px;
}

.proje ul {}
.proje li {
	list-style-type: none;
	margin-bottom:5px;
}
.proje li:before {
content:"\f067";
font-weight:900;
font-style:normal;
padding-right:7px;
font-family: "Font Awesome 5 Free";
color: var(--gri);
font-size:12px;
}
.ithaki {
	margin-left:10px;}


.moduletable {
	vertical-align:top;}
.moduletable h3, .moduletableKlasikYuvarlak h3, .moduletableIkonModul h3 {
	font-size: 28px;
	line-height: 32px;
	font-weight: 300;
	margin-bottom: 0;

}
.moduletableIkonModul h3 {
	margin-bottom: 28px;
}
.item-pagegiris div {}
.article-info-term {
	display:none;}
.modified {
	margin:0;    text-align: center; padding-top:0px;}
.modified:before {
	content:"\f073";
	padding-right:5px;
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	margin:0;
}
.button {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: var(--gri);
	padding: 15px;
	display:inline-block;
	width:150px;
	transition-duration:0.5s;
	text-align:center;
	color: #FFF;
}
.button:hover {
	background-color:#000;
	color: #FFF;
}
.button a {
	text-decoration: none;
	color: #FFF;
}

.item-page .ustalan .item-image {
	/*z-index:-1;
	height: 100%;
		position: absolute;
		width: 100%;*/
	overflow: hidden;

	top: 0;


	
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	filter: brightness(41%);
-webkit-filter: brightness(41%);

	position: relative;
	height: 75vh;
	grid-row-start: 1;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	z-index: 0;

}
.item-page .item-image img {
/*	object-fit: cover;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    max-width: none;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate (-50%,-50%);
    -ms-transform: translate (-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
	top: -2000px;
    position: fixed;
}
.ustalan {


text-align: center;
	display: grid;
	align-content: center;
	position: relative;
	grid-template-columns: 1fr;
	min-height: 25vH;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: #6f0d00;}
.ustalan:after {
	content: '';
	position: absolute;
	bottom: -36px;
	z-index: 0;
	background-color: #ffffff;
	width: 70px;
	height: 70px;
	transform: rotate(45deg);
	right: calc((100vw - 1100px) / 2);
}
.item-page .ustalan .page-heading h1, .ustblog h1 {
/*position: absolute;
	top: 30vH;
	left: 20%;*/
    background-color: transparent;
    color: #fff;
	margin: 0;
    padding: 0;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
		-webkit-animation: fadeInDown 4s 0s 1 both ease;
animation: fadeInDown 4s 0s 1 both ease;
	}
.ustalan .page-header, .ustblog h2 {
	font-weight: 400;
	color: #fff;
	margin: 0;
	font-size: 48px;
	line-height: 50px;
	/*position: absolute;
	top: 37vH;
	left: 20%;*/
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	-webkit-animation: fadeInUp 4s 0s 1 both ease;
	animation: fadeInUp 4s 0s 1 both ease;


	z-index: 9;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
}
.ustalan .page-header h2 {
	font-weight: 400;
	color: #fff;
	margin: 0;
	font-size: 48px;
	line-height: 50px;}
.ustblog .page-header, .ustalan .page-heading {
	z-index: 9;
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
    display: grid;
    align-items: end;
}
.item-page .page-header > h2, .item-pageilet .page-header > h2, .item-pagegenis .page-header > h2, .item-pageproje .page-header > h2 {

}
.pull-left {

	float: none;}


/* Blog -------------------------------------------------------------------------------------*/
.blogic {
	margin-top: 30px;
	max-width:1100px;
	margin-left:auto;
	margin-right:auto;
	grid-auto-rows: 250px;
	grid-gap: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px,1fr));}
.span12, .column-1 {
	float: none;
	height: 100%;
    width: 100%;
}
.ustblog {
	/*display: grid;
	align-content: center;
	position:relative;
	min-height:75vH;*/
	display: grid;
	align-content: center;
	position: relative;
	grid-template-columns: 1fr;
	min-height: 25vH;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color:#6f0d00;
	}
.ustblog:after {
	content: '';
	position: absolute;
	bottom: -36px;
	z-index: 0;
	background-color: #ffffff;
	width: 70px;
	height: 70px;
	transform: rotate(45deg);
	right: calc((100vw - 1100px) / 2);
}
/*.ustblog:before {
    content: '';
    position: absolute;
    bottom: -36px;
    z-index: 0;
    background-color: hsla(0, 0%, 0%, 0.55);
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    right: calc((100vw - 1100px) / 2);
}*/
.ustblog img {
		object-fit: cover;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100%;
    max-width: none;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	z-index:-1;
	filter: brightness(41%);
-webkit-filter: brightness(41%);
	}
.category-desc {
	position: relative;
	height: 75vh;
	grid-row-start: 1;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	z-index: 0;
}
.ustblog .fields-container {
	position:absolute;}
.blog, .blogproje, .bloggiris {
	text-align:center;
	margin-bottom:30px;
}

.blog .cols-1 {
	}

.blog .cols-1:hover {


}

.blog .cols-1:hover h2 a {
/*	opacity:1;*/
}

.blog .cols-1 {
	    vertical-align: top;
background-color: #8e8685;
	position:relative;
	transition-duration:0.3s;
    overflow: hidden;
    min-height: 250px;
}
.blog .cols-1:nth-child(1) {
	grid-row-start: 1;
	grid-row-end: 3;
}
.blog .cols-1:nth-child(7) {
	grid-column-start: 2;
	grid-column-end: 4;
}
.blog .item-image {
	overflow:hidden;
max-height: none;
    max-width: none;
    float: none;
    margin: 0;
    z-index: 9;
    width: 100%;
    position: static;
    height: 100%;
}
.blog .item-image img {

    max-width: none;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    transition-duration: 0.5s;
	transition-timing-function: ease;




    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
}
.blog .item-image a {
height: 100%;
display: block;}

.blog .cols-1:hover img {

    transform: translate(-50%, -50%) scale(1.2, 1.2);
}
.blog .cols-1 .page-header h2{
	max-width:90%;

	z-index:9;
	position:absolute;
	left:0;
	top:0;
	background-color: rgba(255,255,255,0.9);
	transition-duration:0.5s;
}
.blog .cols-1:hover .page-header h2{
/*	top:10%;*/

}
.blog > h2 {
	text-transform:uppercase;
	color: var(--gri);
	font-weight:400;
	padding: 10px;
	padding-top:5px;
	padding-left:40px;
	padding-right:40px;
	display:inline-block;
	margin: 0;
	margin-bottom:20px;
	font-size: 36px;
	line-height: 44px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	}
.blog h2 a {
		text-overflow: ellipsis;
white-space: nowrap;
overflow:hidden;
display: block;
    /* width: 300px; */
    color: #000;
    text-decoration: none;
    font-size: 24px;
    /* line-height: 20px; */
    margin: 0px;
    padding: 10px;
    z-index: 1;
    overflow: hidden;
}
.blog h2 a:hover {}

.blog .article-info {
	font-size: 10px;
display: none;
    clear: both;
    margin-top: 0;
    margin-bottom: 0;
    /* padding-top: 20px; */}
.blog .readmore {
	background-color: #FC3;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	/*display:none;*/}
.blog .readmore a{
	color:#fff;
	text-decoration: none;
}
/*---------------------------------------------------İKONLAR--------------*/
.facebook a:before {
	content:"\f082";
	font-family:"Font Awesome 5 Free";
	padding-right:5px;}
.twitter a:before {
	content:"\f081";
	font-family:"Font Awesome 5 Free";
	padding-right:5px;}
.instagram a:before {
	content:"\f16d";
	font-family:"Font Awesome 5 Free";
	padding-right:5px;}
.pinterest a:before {
	content:"\f0d3";
	font-family:"Font Awesome 5 Free";
	padding-right:5px;}
	
	

span.contact-mail, span.contact-telephone, span.contact-mobile, span.contact-fax {
	display:block;
	margin-top:10px;}
.contact-name {
	font-size:24px;}
.contact-mail:before {
	padding-right:8px;
	content:"\f0e0";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	width: 13px;
    display: inline-block;
	    color: #cc3300;
text-align:center;}

.contact-telephone:before {
	padding-right:8px;
	content:"\f098";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	width: 13px;
    display: inline-block;
	    color: #cc3300;
		text-align:center;}
.contact-mobile:before {
	padding-right:5px;
	content:"\f10b";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	width: 13px;
    display: inline-block;
	    color: #cc3300;
		text-align:center;}
.contact-fax:before {
	padding-right:5px;
	content:"\f1ac";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	width: 13px;
    display: inline-block;
	    color: #cc3300;
		text-align:center;}
[itemprop="telephone"]::before {
	content:"\f095";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: var(--renk01);
	padding-right:5px;
	font-weight:900;
}
[itemprop="fax"]:before {
	content:"\f1ac";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: var(--renk01);
	padding-right:5px;
	font-weight:900;
}

[itemprop="email"]::before {
	content:"\f0e0";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color:  var(--renk01);
	padding-right:5px;

}
 .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

/*------------------------------------*/
/*BLOG PROJE-----------------*/

/*----------------------------*/
.article-info {
	/*position: fixed;
bottom: -50px;*/
    text-align: center;
	font-size: 10px;
	/* background-color: #d8dbe0; */
    clear: both;
	margin-top: 0;
	margin-bottom: 15px;
  
}
.article-info dd {
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	margin:0;
	}
.category-name {
		padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	width:100%;
}
.category-name a {
	text-decoration:none;}
.category-name a:hover {
	color: #F00;
}
.category-name a:before {
	content:"\f112";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: #F00;
	padding-right:5px;
}


/*----------PAGINATION-------------------------*/
ul.pagenav {
display: block;
    height: 45px;
    position: absolute;
    padding: 10px;
    bottom: 0;
	z-index: 9;
	left: calc((100vw - 1100px ) / 2 );
    text-align: right;
}
.pagenav li {
	display:inline-block;
	list-style-type: none;
}

.previous {

}
.next {
	
}
.pagenav li a{
color: #fff;
    font-size: 15px;
	text-decoration: none;
	transition-duration:0.5s;
}
.pagenav li a:hover{
	color:var(--renk03);
}
.previous, .next {
	 display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
	transition-duration:1s;}
.previous:hover, .next:hover {
	    color: #333333;
    text-decoration: none;

    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.next:after {
	float:right;
	content:"\f105";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	padding-left:5px;
	color: #fff;
		font-weight:900;
	}
.next {
	text-align:right;
	}
.previous:before {
	color: #fff;
	padding-right:5px;
	float:left;
	content:"\f104";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
}
.previous {
	text-align: left;
}

.pagination-list li {
	display:inline-block;
	background-color: #CCC;
	margin: 5px;
	padding: 5px;
	height: 25px;
	width: 25px;
	text-align:center;
	line-height:18px;
}
.pagination-list li a{
	text-decoration: none;
}
.pagination-list li.active{
	background-color:#FF993F;
}
.pagination-list li.disabled{
	display:none;
}
.icon-first:after {content:"\f100";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: #0B2043;
}
.icon-previous:after {content:"\f104";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: #0B2043;
}
.icon-next:after {content:"\f105";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: #0B2043;
}
.icon-last:after {content:"\f101";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
	color: #0B2043;
}
#sosyal {
position: fixed;
    right: 10px;
    z-index: 99;
    bottom: 60px;
	transition-duration:0.5s;
	}
#sosyal ul {}
#sosyal li {
    list-style-type: none;


}
#sosyal li a {
	display: block;
	color: #e7e7e7;
	text-align: center;
	background-color: #ac39284d;
	border-radius: 100%;
	margin: 10px;
	vertical-align: middle;
	font-size: 18px;
	line-height: 40px;
	width: 40px;
	height: 40px;
	/* padding: 3px; */
	transition-duration: 0.5s;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

}
#sosyal li a:hover {
	background-color:var(--hsl01);
}
/*-------------------------Butonlar--------------*/
.buton01 a, #gondr {
	padding:9px 20px;

	border-radius:3px;
	transition-duration:0.5s;
	background-color:var(--renk02);
	color: #ffffff;
	font-size:14px;
	display: inline-block;
	}
.buton01 a:hover, #gondr:hover {
	background-color:#ccc;}
.aralik {
	padding:10px;}

/* SİLİNEBİLİR ------------------------------------------------------------------------------------------------------------------------------------*/

.blog .fields-container {
	display:none;}
.fields-container {
	text-align:center;
	display:block;
	width:100%;
	margin-top:30px;}
.field-entry  {
	display:inline-block;
	padding:8px;
	border: 1px solid #E1E1E1;
	margin:5px;
}
.field-label {
	font-weight:400;}
.breadcrumb {
	color:#999;
	text-align: left;
	padding:10px;
	padding-left:0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
}
.breadcrumb a {
	transition-duration:0.5s;
	color:#000;
	}
.breadcrumb a:hover {
	color: var(--turuncu);}
.breadcrumb ul {}
.breadcrumb li {
	display:inline-block;}

/*----------------------------ANA SAYFA BÖLÜMLER ------------------------*/
#bolum1, #bolum2, #bolum3, #bolum4, #bolum5 {
	height:100vH;}
#bolum1 {
	background-color:#CCC;}
#bolum2 {
	background-color:#999;
}
#bolum3 {
	background-color:#666;
}
#bolum4 {
	background-color:#6CF;
}
#bolum5 {
	background-color:#FF9;
}
/*-------------------Fullpage-------------------*/
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.section {
    text-align: center;
	overflow:hidden;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slide {
    float: left;
}
#myVideo{
filter: brightness(60%) contrast(148%);
-webkit-filter: brightness(60%) contrast(148%);
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		min-width: 100%;
		min-height: 100%;
		/*background-size: 100% 100%;*/
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		/*background-image:*/ /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:-1;
	}
.videomobil {
	filter: brightness(60%) contrast(148%);
	-webkit-filter: brightness(60%) contrast(148%);
	z-index: -1;
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	min-width: 100%;
	min-height: 100%;
	background-image: url("../images/matesis.jpg");
	background-size: cover;
}
/*video::-webkit-media-controls {
	  display:none !important;
	}*/
.moduletable .custom {
/*	display: flex;*/
}
/*#fullpage {
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}
#fullpage > div {
	scroll-snap-align: center;
}*/
#fullpage {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
	height: 100vH;
	overflow-y: scroll;

}
#section0, #section1, #section2,#section3,#section4 {
	display: grid;
	align-content: center;
	position: relative;
	min-height: 100vH;
	scroll-snap-align: start;
}
#section5 {
	position: relative;
	scroll-snap-align: end;
}

.wow {
	visibility: visible !important;
}

#section0 {


	background-color: transparent;}
#section1 {


	background-color:#ffffff;}
#section2 {


	background-color:#fff;}
#section3 {

		background-color:#fff;}
#section4 {

		background-color:#fff;}
#section5 {

		background-color:#fff;}
.isaretci {
    position: fixed;
    border: 1px solid #000000;
    width: 25px;
    left: 9px;
    height: 25px;
    background-color: rgba(210, 210, 210, 0.66);
    z-index: 9;
    border-radius: 50%;
}
.sakla .isaretci {
    display: none;
}
.goster .isaretci {
    display: block;
}
#section0 .isaretci {
    bottom: 175px;

}
#section1 .isaretci {
    bottom: 150px;

}
#section2 .isaretci {
    bottom: 125px;
}
#section3 .isaretci {
    bottom: 100px;
}
#section4 .isaretci {
    bottom: 75px;
}
#section5 .isaretci {
    bottom: 50px;
}
#section0 .intro {
	max-width: 900px;
	text-align: left;
	display: grid;
	align-content: center;
	height: 100%;

	align-items: center;
	margin-left: auto;
	margin-right: auto;}
#section0 .intro h3 {
	max-width:600px;
	text-align:left;
	text-transform: none;
	font-size:40px;
	line-height:44px;
	color:#fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
	font-weight:600;
	margin-bottom:15px;
	-webkit-animation: fadeInDown 3s 1s 1 both ease-in;
animation: fadeInDown 3s 1s 1 both ease-in;
}
#section0 .intro p {
		max-width:600px;
	text-align:left;
	color:#fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
		-webkit-animation: fadeInRight 4s 0s 1 both ease-in;
animation: fadeInRight 4s 0s 1 both ease-in;}

.logos {
	position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100vH;
	width:100vW;
	-webkit-animation: zindex 0s 4s 1 both;
animation: zindex 0s 4s 1 both;
}
.logos img {
	object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: none;
	-webkit-animation: preloadimg 2s 1s 1 both ease-in;
animation: preloadimg 2s 1s 1 both ease-in;
}
#actions {
	bottom:-30px;
	position:fixed;}
#solikonmenu {
	position: fixed;
	bottom: 50px;
	z-index: 99;
	left: 15px;
	font-size: 12px;
	line-height: 20px;

}
#solikonmenu a {color: var(--hsl02);}
#solikonmenu a i {line-height: 25px;}
#solikonmenu ul {margin: 0;padding: 0;}
#solikonmenu li {
	list-style: none;
}
/*------------------Snap Css-----------------------*/

/*--------------------------------------------------*/
.asagiok {
	display:inline-block;}
.asagiok a {
	color: #fff;
	font-size: 36px;
	display: block;
	-webkit-animation: sicra 4s 0s infinite both ease;
	animation: sicra 4s 0s infinite both ease;
	bottom: 25px;
}

.adresler {
	font-size:13px;
	line-height: 26px;}
.adresler p {
    margin-bottom: 15px;
    margin-top: 0;}
.labelgizle label {
max-height: 0;
    overflow: hidden;}
.foot {
    display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
    max-width: var(--MaxWidth);
    margin-left: auto;margin-right: auto;
    grid-column-gap: 15px;
}

.customfoot {
    position: relative;
    background-color: #e4e4e4;
    padding-top: 150px;
    padding-bottom: 250px;
}
.customfoot:before {
    position: absolute;top: 0;left: 0;
    content: '';
    background-image: url("../fonts/ucgenXbeyaz.svg");
    background-size: 100% 100%;
    height: 100px;
    width: 100%;
}
.customfoot:after {
    position: absolute;
    bottom: 0;
    transform: scaleY(-1);
    left: 0;
    content: '';
    background-image: url("../fonts/ucgenXkirmizi.svg");
    background-size: 100% 100%;
    height: 100px;
    width: 100%;
}
.footTakip i {
    font-size: 29px;
    margin: 2px;
    /* padding: 10px; */
    background-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: #8b104e 1px solid;
}
.footTakip .ikinci {
	margin-top: 25px;
	margin-bottom: 12px;
}
.foot h3 {
    font-weight: 600;
}
.customfoot .fa-facebook-square:before {
    color: #486fc0;
}
.customfoot .fa-twitter:before {
    color: #00c2fb;
}
.customfoot .fa-linkedin:before {
    color: #0092c7;
}

/*---------------RS--------------------------*/
.customfoot #gondr { padding: 8px 15px}

.rsform-block-kontrol .formBody br {
	display: none;
}
.rsform-block-kontrol .formBody {
	align-items: center;
	grid-column-gap: 10px;
	display: grid;
	grid-template-columns: 70px 1fr 70px;
}
.footForm {}
.footForm .formValidation {
	display: none !important;
}
.footForm .formControls {
    margin: 0 !important;
}
.footForm .rsform-block-gondr {
	padding-top: 5px;
}
.formControlLabel {
	display: none;
}
.col-sm-9 {
	-ms-flex: none;
	flex: none;
	max-width: none;}
.formControls {
	margin: 0 !important;
}
.formResponsive input, .formResponsive textarea {
	width: 90%;
}
.formResponsive textarea, .formResponsive input[type="text"], .formResponsive input[type="number"], .formResponsive input[type="email"], .formResponsive input[type="tel"], .formResponsive input[type="url"], .formResponsive input[type="password"] {
	margin: 3px 0 3px 0;
	padding: 15px;
	font-size: 16px;

}
.formResponsive input[type="submit"], .formResponsive button[type="submit"] {
	background-color: var(--renk03);
	background-image: none;
	padding: 15px;
	font-size: 16px;
}
.formDescription {
	display: none;
}
.formResponsive .formHorizontal .rsform-block {
	margin: 0;
}
/*-------------------*/
.span12 .item p {
	display: none;
}
.ba-form {
	padding-top: 0 !important;
}
.slogan01 {
	font-size: 30px;
}
.slogan01:before {
	content: '\f10d';
	font-weight: 900;
	font-family: "Font Awesome 5 Free", serif;
	font-size: 19px;
	padding-right: 5px;
	vertical-align: text-top;
	color: var(--renk02);
}
.slogan02 {
	text-align: center;
	font-size: 24px;
	padding: 25px;
}
.slogan02:before {
	content: '\f085';
	font-weight: 900;
	font-family: "Font Awesome 5 Free", serif;
	padding-right: 5px;
	color: var(--renk02);
}
.text01 {
	letter-spacing: 1px;
	font-size: 12px;
}
.text02 {
	font-weight: 500;
}
.text02:before {
	content: '\f10d';
	font-weight: 900;
	font-family: "Font Awesome 5 Free", serif;
	padding-right: 5px;
	color: var(--renk02);
}
/*
.text02:after {
	content: '\f10e';
	font-weight: 900;
	font-family: "Font Awesome 5 Free", serif;
	padding-left: 5px;
	color: var(--renk02);
}*/
.ekipa {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
	color: #ffffff;
}
.ekipa p {
	margin: 0;
	padding: 0;
	display: grid;

}
.ekipa div {
	display: grid;
	align-content: end;
	text-align: center;
	height: 500px;
	position: relative;
	grid-template-rows: 60px 40px;
	border-bottom: 5px solid var(--renk01);
}
.ekipa p:nth-child(1) {
	position: absolute;
	/* height: 500px; */
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	left: 0;
}
.ekipa p:nth-child(1) img {
	object-fit: cover;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 100%;
	max-width: none;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ekipa p:nth-child(2) {

	font-weight: bold;
	padding-top: 25px;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.51);
}
.ekipa p:nth-child(3) {

	background-color: rgba(0, 0, 0, 0.51);
}
.ekipb {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 15px;
	color: #ffffff;
}
.ekipb p {
	margin: 0;
	padding: 0;
	display: grid;

}
.ekipb div {
	display: grid;
	align-content: end;
	text-align: center;
	height: 350px;
	position: relative;
	grid-template-rows: 60px 40px;
	border-bottom: 5px solid var(--renk01);
}
.ekipb p:nth-child(1) {
	position: absolute;
	/* height: 500px; */
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	left: 0;
}
.ekipb p:nth-child(1) img {
	object-fit: cover;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 100%;
	max-width: none;
	left: 50%;
	transform: translate(-50%, -50%);
}
.ekipb p:nth-child(2) {

	font-weight: bold;
	padding-top: 25px;
	font-size: 24px;
	background-color: rgba(0, 0, 0, 0.51);
}
.ekipb p:nth-child(3) {

	background-color: rgba(0, 0, 0, 0.51);
}
.pdfler {
	column-count: 2;
	column-gap: 20px;
	vertical-align: top;
}
.pdfler p {
	padding-left: 25px;
	list-style-type: none;
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 0;
}
.pdfler a {
	line-height: 36px;
}
.pdfler a:before {
	content: '\f15c';
	font-family: "Font Awesome 5 Free", serif;
	padding-right: 8px;
	color: var(--renk02);
}
.aciklama {
	display: inline-block;
	padding: 8px;
	border: 1px solid #E1E1E1;
	margin: 5px;
}